
.header {
	background-color: red;
	height: 100px;
	display: flex;
}
.icon {
	height: 100%;
	align-self:flex-start;
}
.headerbutton {
	height: 100%;
	align-self:flex-end;
}




#editor {
	height: 500px;
}
#editormain {
	display: flex;
}
#editleft {
	width: 200px;
}
#editright {
	width: 200px;
}
#editorcenter {
	flex-grow: 1;
}

#tabbar {
	display:flex;
	height: 27px;
	background-color: darkgrey;
}
.tab {
	background-color: grey;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	border-radius: 10px 10px 0px 0px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 2px;
}
.activetab {
	background-color: white;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	border-radius: 10px 10px 0px 0px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 2px;

}

.layerbox {
	background-color: #D3D3D3;
	height: 40px;
	line-height: 40px;
	display: flex;
	border-width: 1px;
	border-color:black;
	border-style: solid;
}


.rotate-90 {
	transform: rotate(90deg);
}











