

{% macro importscripts() %}
<link rel="stylesheet" href="static/bower_components/split-pane/split-pane.css">
<link rel="stylesheet" href="static/bower_components/split-pane/pretty-split-pane.css">
<script src="static/bower_components/split-pane/split-pane.js"></script>
<link rel="stylesheet" href="static/bower_components/dragula.js/dist/dragula.min.css">
<script src="static/bower_components/dragula.js/dist/dragula.min.js"></script>
<script src="static/bower_components/knockout-dragula/dist/knockout-dragula.min.js"></script>
<script src="static/bower_components/ace/build/src/ace.js"></script>
<script src="static/script/md5.js"></script>
<script src="static/script/synchronize.js"></script>
<script src="static/bower_components/ace/build/src/ext-modelist.js"></script>
<style type="text/css">
	::-webkit-scrollbar { width: 0 !important; height: 0 !important;}
</style>
{% endmacro %}

{% macro importDivider() %}
	<style type="text/css">
		#resizeable-area {position:relative;}
		.split-pane-divider {background-color:transparent;position:absolute;}
		.static-pane-horizontal {position: relative;height:100%;}
		.static-pane-vertical {position: relative;height:100%;}
		.static-pane-horizontal .static-pane-component {left:0;right:0;overflow:scroll;}
		.static-pane-vertical .static-pane-component {bottom:0;top:0;overflow:scroll;}
		.static-pane-component {position: absolute;}
	</style>
	<script type="text/html" id="resizeable-area">
		<div data-bind="class:resizeable?'split-pane '+type:'static-pane-'+align,attr:{id:id}">
			<div data-bind="class:resizeable?'split-pane-component':'static-pane-component',template:{name:first().template,data:first(), afterRender:first().onLoad},style:style0"></div>
			<div class="split-pane-divider" data-bind="style:style1"></div>
			<div data-bind="class:resizeable?'split-pane-component':'static-pane-component',template:{name:second().template,data:second(),afterRender:second().onLoad},style:style2"></div>
		</div>
	</script>
	<script type="text/javascript">
	function Divider(props) {
		var self = this;
		props = Object.assign({initialmeasure:"10em",resizeable:true,slidesout:false,parent:null,type:"fixed-top",first:null,second:null,id:""},props)
		self.resizeable = props.resizeable;
		self.initialmeasure = props.initialmeasure;
		self.slidesout = props.slidesout;
		self.parent = props.parent;
		self.id = props.id;
		self.type = props.type;//fixed-bottom, fixed-right, fixed-left, fixed-top, horizontal-percent, vertical-percent
		self.align = ["fixed-bottom","fixed-top","horizontal-percent"].includes(self.type)?"horizontal":"vertical";
		self.template = "resizeable-area";
		self.first  = props.first;
		self.second = props.second;
		switch (self.type) {
			case "horizontal-percent":
			case "fixed-left":
				self.style0 = {left:0,width:props.initialmeasure};
				self.style1 = {left:props.initialmeasure,width:'5px'};
				self.style2 = {right:0,left:props.initialmeasure,top:0,bottom:0};//,marginLeft:'5px'
			break;
			case "fixed-right":
				self.style0 = {left:0,right:props.initialmeasure};
				self.style1 = {right:props.initialmeasure,width:'5px',top:0,bottom:0};
				self.style2 = {right:0,width:props.initialmeasure};//,marginLeft:'5px'
			break;
			case "vertical-percent":
			case "fixed-top":
				self.style0 = {top:0,height:props.initialmeasure};
				self.style1 = {top:props.initialmeasure,height:'5px',right:0,left:0};
				self.style2 = {bottom:0,top:props.initialmeasure};//,marginTop:'5px'
			break;
			case "fixed-bottom":
				self.style0 = {top:0,bottom:props.initialmeasure};
				self.style1 = {bottom:props.initialmeasure,height:'5px',right:0,left:0};
				self.style2 = {bottom:0,height:props.initialmeasure};//,marginTop:'5px'
			break;
			default: throw "unrecognized type";
		}
		self.vresize = function() {
		}
		self.reparent = function(newparent) {
			self.parent = newparent;
		}
		self.onLoad = function(a) {
			if (!self.resizeable) {return;}
			$(a[1]).splitPane();
			$(a[1]).on('splitpaneresize', function(event) {
				var target = event.target === document ? window : event.target;
				if (target === a[1]) {
					var property = self.align == "horizontal" ? 'height' : 'width';
					if (self.slidesout) {
						if ($(a[1]).find('.split-pane-component:first')[property]() + (self.align=="horizontal"?0:-5)<5) {
							console.log("deletedF");
							self.second().reparent(self.parent);
							self.parent(self.second());
						} else if ($(a[1]).find('.split-pane-component:last')[property]() < 5) {
							console.log("deletedS");
							self.first().reparent(self.parent);
							self.parent(self.first());
						}
					}
					self.first().vresize();
					self.second().vresize();
				}
			});
		};
	}
	</script>
{% endmacro %}

{% macro importTabs() %}
	<style type="text/css">
		.tabs {height:100%;display: flex;background-color:#252426;}
		.tab {
			cursor:pointer;
			position:relative;
			height:100%;
			text-align:center;
			background-color:#2d2d2d;

			/*border-style: solid;
			border-width: 1px;
			border-color: black;
			border-top-right-radius:5px;
			border-top-left-radius:5px;*/


			/*display: inline-block;*/
			text-align: center;
		}
		.littlex {
			position:absolute;
			right:0px;
			width: 12px;
			height: 12px;
			font-size: 12px !important;
		}
		.innertabtext {
			display: inline-block;
			height:100%;
			margin-left:20px;
			margin-right:20px;
		}
		.innertabtext:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.tab.selected {
			background-color: #202020;
			color: #05a8b3;
		}
	</style>
	<script type="text/html" id="tabs-area">
		<!-- ko if: rearrangeable -->
		<div class="tabs" data-bind="dragula:{data:tabs,group:draggroup,afterDrop:afterDrop},attr:{id:id}">
			<div class="tab" data-bind="class:$data==$parent.selected()?'selected':'',style:$parent.fill?{flex:1}:{},click:$parent.select">
				<div class="innertabtext" data-bind="text:title()"></div>
				<!-- ko if:$parent.closeable && ( $parent.alwaysShowX || $data==$parent.selected() )  -->
				<i class="material-icons littlex" data-bind="click:$parent.remove,clickBubble:false">close</i>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
		<!-- ko ifnot: rearrangeable -->
		<div class="tabs" data-bind="foreach:tabs,attr:{id:id}">
			<div class="tab" data-bind="class:$data==$parent.selected()?'selected':'',style:$parent.fill?{flex:1}:{},click:function(){$parent.select($index(),$data);}">
				<div class="innertabtext" data-bind="text:title()"></div>
				<!-- ko if:$parent.closeable && ( $parent.alwaysShowX || $data==$parent.selected() ) -->
				<i class="material-icons littlex" data-bind="click:$parent.remove,clickBubble:false">close</i>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
	</script>
	<script type="text/javascript">
	var tabsdragulagroups = 0;
	function Tabs(props) {
		var self = this;
		props = Object.assign({closeable:false,rearrangeable:false,fill:false,tabs:null,id:"",didSelect:null,draggroup:null,alwaysShowX:false,selected:ko.observable(null),afterDrop:function(){},onClick:null,onRemove:null},props);
		if (props.draggroup == null) {self.draggroup = 'TabsGroup'+tabsdragulagroups++;}
		else                         {self.draggroup = props.draggroup;}
		self.template = "tabs-area";
		self.alwaysShowX = props.alwaysShowX;
		self.rearrangeable = props.rearrangeable;
		self.closeable = props.closeable;
		self.tabs = props.tabs;
		self.id   = props.id;
		self.fill = props.fill;
		self.afterDrop = props.afterDrop;
		self.selected = props.selected;
		self.vresize = function() {}
		self.remove = function(item) {
			if (props.onRemove!=null) {
				props.onRemove(item);
			} else {
				self.tabs.remove(item);
			}
		};
		self.select = function(item) {
			if (props.onClick!=null) {
				props.onClick(item);
			} else {
				self.selected(item);
			}
		};
		self.onLoad = function(a) {
			if (self.rearrangeable) {
				window.knockoutDragula.options(self.draggroup);//{ removeOnSpill: true }
			}
		};
	}
	</script>
{% endmacro %}

{% macro importTextArea() %}
	<style type="text/css">
		.editor {
			position:relative;
			width:100%;
			height:100%;
		}
	</style>
	<script type="text/html" id="text-area">
		<div class="editor"></div>
	</script>
	<script type="text/javascript">
	var modelist = ace.require("ace/ext/modelist");
	function TextArea(props){
		var self = this;
		props = Object.assign({sync:null},props);
		// editor.session.setMode("ace/mode/javascript");
		self.template="text-area";
		self.sync = props.sync;
		self.editor = null;
		self.mode = null;
		self.setPath = function(path){
			self.mode = modelist.getModeForPath(path).mode;
			if (self.editor!=null) {
				self.editor.getSession().setMode(self.mode);
			}
		}
		self.vresize = function() {
			if (self.editor != null) {self.editor.resize();}
		}
		self.onLoad = function(a) {
			self.editor = ace.edit(a[1]);
			self.editor.setTheme('ace/theme/tomorrow_night');
		    var listening = true;
			if (self.mode!=null) {
				self.editor.getSession().setMode(self.mode);
			}

		    var acsub = self.editor.session.on('change', function(delta) {
		      if (!listening) {return;}
		      var yaya = self.sync.getdata()()
		      var start = nthIndex(yaya,"\n",delta.start.row)+1+delta.start.column;
		      var end   = nthIndex(yaya,"\n",delta.end.row)+1+delta.end.column;
		      var msg = delta.lines.join("\n");
		      if (self.sync.props.str) {start++;end++;}
		      listening = false;
		      if (delta.action == 'insert') {
		        self.sync.overridemessage(new ChangeInterval(start,0,msg));
		      } else if (delta.action == 'remove') {
		        self.sync.overridemessage(new ChangeInterval(start,end-start,""));
		      }
		      listening = true;
		    });
		    var obsub = self.sync.getdata().subscribe(function(newValue){
		      if (!listening) {return;}
		      listening = false;
		      self.editor.session.setValue(newValue);
		      listening = true;
		    });
		      listening = false;
		    self.editor.session.setValue(self.sync.getdata()());
		      listening = true;
		    ko.utils.domNodeDisposal.addDisposeCallback(a[1], function() {
		      obsub.dispose();
		      self.editor.session.removeListener('change',acsub);
              self.editor.destroy();
		    });
		}
	}
	</script>
{% endmacro %}

{% macro importRecursiveArea() %}
	<style type="text/css">
		.recursiveexpander {
			width:1em;
			text-align: right;
			flex-shrink:0;
			line-height: 17px;
		}
		.inlineicon {
			font-size:inherit;
			line-height: inherit;
		}
	</style>
	<script type="text/html" id="parent-recursive-area">
		<div style="width:100%;height:100%;position:relative;">
			<div style="position:absolute;top:0;left:0;right:0;" data-bind="template:{name:'ghost-recursive-area',data:$data}"></div>
			<div style="position:absolute;top:0;left:0;right:0;" data-bind="template:{name:rearrangeable?'rearrangeable-recursive-area':'recursive-area',data:$data}"></div>
		</div>
	</script>
	<script type="text/html" id="ghost-recursive-area">
		<!-- ko foreach:elems -->
			<div style="height:17px;width:100%;" data-bind="style:hover()?{'background-color':'#444'}:{'background-color':'transparent'}"></div>
			<!-- ko if:$data.elems -->
				<!-- ko if:expanded() -->
					<!-- ko template:{
						name: 'ghost-recursive-area',
						data:{elems:elems}} -->
					<!-- /ko -->
				<!-- /ko -->
			<!-- /ko -->
		<!-- /ko -->
	</script>
	<script type="text/html" id="rearrangeable-recursive-area">
		<div data-bind="dragula:{data:elems,group:transmit.draggroup,moves:transmit.moves,accepts:transmit.accepts, afterDrop:transmit.afterDrop}">
			<div class="recursiveunit">
				<div class="recursiveelement" style="display: flex;cursor:pointer;position:relative;" data-bind="click:$parent.transmit.onClick,event: { mouseover:function(){if (hover){hover(true);}},mouseleave:function(){if (hover){hover(false);}}}">
					<div  class="recursiveexpander"  data-bind="if:$data.elems">
						<i data-bind="class:expanded()?'material-icons rotate-90 inlineicon':'material-icons inlineicon',click:function(){expanded(!expanded())},clickBubble:false">play_arrow</i>
					</div>
					<!-- ko if:editing -->
					<div style="flex:1">
						<input data-bind="value:edittitle,event:{blur:function(){editing(false);$parent.transmit.onRenameObject($parent.elems,$data)}}" style="overflow: hidden;white-space: nowrap;"/>
					</div>
					<!-- /ko -->
					<!-- ko ifnot:editing -->
					<div style="flex:1">
						<span data-bind="text:title()" style="overflow: hidden;white-space: nowrap;cursor:pointer;"></span>
					</div>
					<div data-bind="if:hover && hover()" style="position: absolute;right:0;top:0;bottom:0;background-color:#444;font-size:10pt;">
						<!-- ko if:$data.elems -->
						<span data-bind="click:function(){expanded(true);elems.push($parent.transmit.newfiledata($data));},clickBubble:false">
							<i class="material-icons inlineicon">note_add</i>
						</span>
						<span data-bind="click:function(){expanded(true);elems.push($parent.transmit.newfolderdata($data));},clickBubble:false">
							<i class="material-icons inlineicon">create_new_folder</i>
						</span>
						<!-- /ko -->
						<span data-bind="click:function(){edittitle(title());editing(true);},clickBubble:false">
							<i class="material-icons inlineicon">text_format</i>
						</span>
						<span data-bind="click:function(){$parent.transmit.onDestroyItem($parent.elems,$data);},clickBubble:false">
							<i class="material-icons inlineicon">delete_forever</i>
						</span>
					</div>
					<!-- /ko -->
				</div>
				<!-- ko if:$data.elems -->
					<div data-bind="visible: expanded()" style="margin-left:1em;">
					<!-- ko template:{
						name:'rearrangeable-recursive-area',
						data:{transmit:$parent.transmit,elems:elems}} -->
					<!-- /ko -->
					</div>
				<!-- /ko -->
			</div>
		</div>
	</script>
	<script type="text/html" id="recursive-area">
		<div data-bind="foreach:elems">
			<div>
				<div class="recursiveelement" style="display: flex;cursor:pointer" data-bind="event: { mouseover:function(){if (hover){hover(true);}},mouseout:function(){if (hover){hover(false);}}}">
					<div class="recursiveexpander" data-bind="if:$data.elems">
						<i data-bind="class:expanded()?'material-icons rotate-90':'material-icons',click:function(){expanded(!expanded())}"  style="font-size: inherit;line-height: inherit;">play_arrow</i>
					</div>
					<div style="flex:1">
						<span data-bind="text:title(),click:$parent.onClick" style="overflow: hidden;white-space: nowrap;"></span>
					</div>
				</div>
				<!-- ko if:$data.elems -->
					<div data-bind="visible: expanded()" style="margin-left:1em;">
					<!-- ko template:{
						name: 'recursive-area',
						data:{onClick:$parent.onClick,elems:elems}} -->
					<!-- /ko -->
					</div>
				<!-- /ko -->
			</div>
		</div>
	</script>
	<script type="text/javascript">
	var recursivedragulagroups=0;
	function RecursiveArea(props){
		var self = this;
		props = Object.assign({elems:null,id:"",rearrangeable:true,draggroup:null,onRenameObject:null,newfiledata:null,newfolderdata:null,onDestroyItem:null,onClick:function(){},afterDrop:function(){}},props);
		
		self.rearrangeable = props.rearrangeable;
		self.template = "parent-recursive-area";//self.rearrangeable?"rearrangeable-recursive-area":"recursive-area";
		self.elems = props.elems;

		self.transmit = {}
		if (props.draggroup == null) {self.transmit.draggroup = 'RecursiveGroup'+recursivedragulagroups++;}
		else                         {self.transmit.draggroup = props.draggroup;}
		self.transmit.newfiledata = props.newfiledata;
		self.transmit.newfolderdata = props.newfolderdata;
		self.transmit.onDestroyItem = props.onDestroyItem;
		self.transmit.onRenameObject = props.onRenameObject;
		self.transmit.afterDrop = props.afterDrop
		self.transmit.onClick = props.onClick;

		self.transmit.moves = function (el, source, handle,sibling) {
			while(handle!=null && !handle.classList.contains('recursiveunit')) {handle = handle.parentElement;}
			return handle === el;
		};
		self.transmit.accepts = function (el, dest, source,sibling) {
			while(dest != null) {dest = dest.parentElement;if (dest==el){return false;}}
			return true;
		};


		self.vresize = function() {}
		self.onLoad = function(a) {
			if (self.rearrangeable) {
				window.knockoutDragula.options(self.transmit.draggroup);
			}
		}
	}
	</script>
{% endmacro %}

{% macro importAdvTextArea() %}
{% endmacro %}

{% macro importErrMsgArea() %}
	<style type="text/css">
		.loader {
		  border: 8px solid darkgray; /* Light grey */
		  border-top: 8px solid #05a8b3; /* Blue */
		  border-radius: 50%;

		  width: 120px;
		  height: 120px;
		  animation: spin 2s linear infinite;

		  display: inline-block;
		  /*transform: translate(-50%, -50%);*/
		}
		.centcontainer {
		  text-align: center;

		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  /*transform: translate(-50%, -50%);*/
		}
		.erricon {
			font-size: 120px;
			color: darkgray;
		}
		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
	</style>
	<script type="text/html" id="errmsg-area">
		<div style="position: relative;width:100%" data-bind="style:{height:height}">
			<div class="centcontainer">
				<!-- ko if:code=="loading" -->
				<div class="loader"></div>
				<!-- /ko -->
				<!-- ko if:code=="toolarge" -->
				<i class="material-icons erricon">folder</i>
				<H3>File too large.</H3>
				<p>Files this large cannot be opened in Synergi.
				The maximum suppored filesize is ASKERIC. Files this large aren't usually just code, so make sure this is a file you wanted to open in the first place.</p>
				<!-- /ko -->
				<!-- ko if:code=="toomanyfiles" -->
				<i class="material-icons erricon">insert_drive_file</i>
				<H3>Project too large.</H3>
				<p>Your project contains too many files to be opened in Synergi.
				We recommend that you clone your repo locally and pare down the number of files.
				Usually, if you run into this error, it means you should revise your .gitignore to ensure that you are only including the files you want.</p>
				<!-- /ko -->
				<!-- ko if:code=="unauthorized" -->
				<i class="material-icons erricon">lock</i>
				<H3>Not authorized.</H3>
				<p>It seems you are not authorized to access this session.</p>
				<!-- /ko -->
				<!-- ko if:code=="unknown" -->
				<i class="material-icons erricon">sms_failed</i>
				<H3>File could not be loaded.</H3>
				<p>This file could not be loaded at this time.
				Try refreshing the page.</p>
				<!-- /ko -->
			</div>
		</div>
	</script>
	<script type="text/javascript">
	function ErrMsgArea(props){
		var self = this;
		props = Object.assign({code:"empty",height:"100%"},props);
		self.code = props.code;
		self.height = props.height;
		self.template = "errmsg-area";
		self.vresize = function() {}
		self.onLoad = function() {}
	}
	</script>
{% endmacro %}


{% macro importHtmlArea() %}
	<script type="text/html" id="html-area">
		<div data-bind="html:html,attr:{id:id}">
		</div>
	</script>
	<script type="text/javascript">
	function HtmlArea(props){
		var self = this;
		props = Object.assign({html:null,id:""},props);
		self.template = "html-area";
		self.id=props.id;
		self.html = props.html;
		self.vresize = function() {}
		self.onLoad = function() {}
	}
	</script>
{% endmacro %}



<!-- 
<script type="text/html" id="stave-area">
	<div class="staves">
	</div>
</script>
<script>
function StaveArea(props){
	var self = this;
	props = Object.assign({text:null},props);
	// editor.session.setMode("ace/mode/javascript");
	self.template="text-area";
	self.text = props.text
	self.editor = null;
	self.vresize = function() {
		if (self.editor != null) {self.editor.resize();}
	}
	self.onLoad = function(a) {
		self.editor = ace.edit(a[1]);
	}
}
</script>


 -->


















<!-- 
<script>





justice = new ViewModel();

function ViewModel() {
	var self = this;
	self.node = new Divider({
		type:"fixed-right",
		resizeable:true,
		// first:new Tabs(),
		first:new Divider({
			type:"fixed-bottom",
			resizeable:true,
			first:new Tabs({tabs:ko.observableArray(["sok","eidj","eosfj","dijfd"])}),
			second:new TextArea()
		}),
		second:new TextArea()
	});
}

ko.applyBindings(justice);

</script>
 -->



