{% set active_page = "components" %}

{% macro importscripts() %}
<link rel="stylesheet" href="static/bower_components/split-pane/split-pane.css">
<link rel="stylesheet" href="static/bower_components/split-pane/pretty-split-pane.css">
<script src="static/bower_components/angular/angular.js"></script>
<script src="static/bower_components/split-pane/split-pane.js"></script>
<link rel="stylesheet" href="static/bower_components/dragula.js/dist/dragula.min.css">
<script src="static/bower_components/dragula.js/dist/dragula.min.js"></script>
<script src="static/bower_components/ace/build/src/ace.js"></script>
<script src="static/bower_components/knockout-dragula/dist/knockout-dragula.min.js"></script>
<script src="static/script/md5.js"></script>
{% endmacro %}

{% macro importDivider() %}
	<style type="text/css">
		.split-pane-divider {background-color:gray;}
		.static-pane-horizontal {position: relative;height:100%;}
		.static-pane-vertical {position: relative;height:100%;}
		.static-pane-horizontal .static-pane-component {left:0;right:0;}
		.static-pane-vertical .static-pane-component {bottom:0;top:0;}
		.static-pane-component {position: absolute;}
	</style>
	<script type="text/html" id="resizeable-area">
		<div data-bind="class:resizeable?'split-pane '+type:'static-pane-'+align,attr:{id:id}">
			<div data-bind="class:resizeable?'split-pane-component':'static-pane-component',template:{name:first().template,data:first(), afterRender:first().onLoad},style:style0"></div>
			<!-- ko if:resizeable -->
			<div class="split-pane-divider" data-bind="style:style1"></div>
			<!-- /ko -->
			<div data-bind="class:resizeable?'split-pane-component':'static-pane-component',template:{name:second().template,data:second(),afterRender:second().onLoad},style:style2"></div>
		</div>
	</script>
	<script type="text/javascript">
	function Divider(props) {
		var self = this;
		props = Object.assign({initialmeasure:"10em",resizeable:true,type:"fixed-top",first:null,second:null,id:""},props)
		self.resizeable = props.resizeable;
		self.initialmeasure = props.initialmeasure;
		self.id = props.id;
		self.type = props.type;//fixed-bottom, fixed-right, fixed-left, fixed-top, horizontal-percent, vertical-percent
		self.align = ["fixed-bottom","fixed-top","horizontal-percent"].includes(self.type)?"horizontal":"vertical";
		self.template = "resizeable-area";
		self.first  = props.first;
		self.second = props.second;
		switch (self.type) {
			case "horizontal-percent":
			case "fixed-left":
				self.style0 = {left:0,width:props.initialmeasure};
				self.style1 = {left:props.initialmeasure,width:'5px'};
				self.style2 = {right:0,left:props.initialmeasure,marginLeft:'5px'};
			break;
			case "fixed-right":
				self.style0 = {left:0,right:props.initialmeasure};
				self.style1 = {right:props.initialmeasure,width:'5px'};
				self.style2 = {right:0,width:props.initialmeasure,marginLeft:'5px'};
			break;
			case "vertical-percent":
			case "fixed-top":
				self.style0 = {top:0,height:props.initialmeasure};
				self.style1 = {top:props.initialmeasure,height:'5px'};
				self.style2 = {bottom:0,top:props.initialmeasure,marginTop:'5px'};
			break;
			case "fixed-bottom":
				self.style0 = {top:0,bottom:props.initialmeasure};
				self.style1 = {bottom:props.initialmeasure,height:'5px'};
				self.style2 = {bottom:0,height:props.initialmeasure,marginTop:'5px'};
			break;
			default: throw "unrecognized type";
		}
		self.vresize = function() {
		}
		self.onLoad = function(a) {
			$(a[1]).splitPane();
			$(a[1]).on('splitpaneresize', function(event) {
				var target = event.target === document ? window : event.target;
				if (target === a[1]) {
					var property = self.align=="horizontal" ? 'height' : 'width';
					self.first().vresize($(a[1]).find('.split-pane-component:first')[property]() + (self.align=="horizontal"?0:-5));
					self.second().vresize($(a[1]).find('.split-pane-component:last')[property]());
				}
			});
		};
	}
	</script>
{% endmacro %}

{% macro importTabs() %}
	<style type="text/css">
		.tabs {height:100%;display: flex;}
		.tab {
			position:relative;
			height:100%;
			text-align:center;
			background-color:lightgrey;
			border-style: solid;
			border-width: 1px;
			border-color: black;
			border-top-right-radius:5px;
			border-top-left-radius:5px;
			/*display: inline-block;*/
			text-align: center;
		}
		.recursiveexpander {
			width:30px;
			text-align: center;
		}
		.littlex {
			position:absolute;
			right:5px;
			bottom: 50%;
			width: 12px;
			height: 12px;
			font-size: 12px !important;
		}
		.innertabtext {
			display: inline-block;
			height:100%;
			margin-left:20px;
			margin-right:20px;
		}
		.innertabtext:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.tab.selected {
			background-color: grey;
		}
	</style>
	<script type="text/html" id="tabs-area">
		<!-- ko if: rearrangeable -->
		<div class="tabs" data-bind="dragula:{data:tabs,group:draggroup},attr:{id:id}">
			<div class="tab" data-bind="class:$data==$parent.selected()?'selected':'',style:$parent.fill?{flex:1}:{},click:$parent.select">
				<div class="innertabtext" data-bind="text:title"></div>
				<!-- ko if:$parent.closeable -->
				<i class="material-icons littlex" data-bind="click:$parent.remove,clickBubble:false">close</i>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
		<!-- ko ifnot: rearrangeable -->
		<div class="tabs" data-bind="foreach:tabs,attr:{id:id}">
			<div class="tab" data-bind="class:$data==$parent.selected()?'selected':'',style:$parent.fill?{flex:1}:{},click:function(){$parent.select($index(),$data);}">
				<div class="innertabtext" data-bind="text:title"></div>
				<!-- ko if:$parent.closeable -->
				<i class="material-icons littlex" data-bind="click:$parent.remove,clickBubble:false">close</i>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
	</script>
	<script type="text/javascript">
	var tabsdragulagroups = 0;
	function Tabs(props) {
		var self = this;
		props = Object.assign({closeable:false,rearrangeable:false,fill:false,tabs:null,id:"",didSelect:null,draggroup:null,selected:ko.observable(null)},props);
		if (props.draggroup == null) {self.draggroup = 'TabsGroup'+tabsdragulagroups++;}
		else                         {self.draggroup = props.draggroup;}
		self.template = "tabs-area";
		self.rearrangeable = props.rearrangeable;
		self.closeable = props.closeable;
		self.tabs = props.tabs;
		self.id   = props.id;
		self.fill = props.fill;
		self.selected = props.selected;
		self.vresize = function() {}
		self.remove = function(item) {
			console.log(item);
			item.close();
			self.tabs.remove(item);
		};
		self.select = function(bwow) {
			self.selected(bwow);
			bwow.click();
		};
		self.onLoad = function(a) {
			if (self.rearrangeable) {
				window.knockoutDragula.options(self.draggroup);//{ removeOnSpill: true }
			}
		};
	}
	</script>
{% endmacro %}

{% macro importTextArea() %}
	<style type="text/css">
		.editor {
			position:relative;
			width:100%;
			height:100%;
		}
	</style>
	<script type="text/html" id="text-area">
		<div class="editor" data-bind="text:text"></div>
	</script>
	<script type="text/javascript">
	function TextArea(props){
		var self = this;
		props = Object.assign({text:null},props);
		// editor.session.setMode("ace/mode/javascript");
		self.template="text-area";
		self.text = props.text
		self.editor = null;
		self.vresize = function() {
			if (self.editor != null) {self.editor.resize();}
		}
		self.onLoad = function(a) {
			self.editor = ace.edit(a[1]);
		}
	}
	</script>
{% endmacro %}

{% macro importRecursiveArea() %}
	<script type="text/html" id="rearrangeable-recursive-area">
		<div style="margin-left:20px;padding-bottom:10px;" data-bind="dragula:{data:elems,group:draggroup,moves:moves,accepts:accepts}">
			<div class="recursiveunit">
				<div class="recursiveelement" style="display: flex">
					<div  class="recursiveexpander"  data-bind="if:$data.elems" style="flex-shrink:0;">
						<i data-bind="class:expanded()?'material-icons rotate-90':'material-icons',click:function(){expanded(!expanded())}">play_arrow</i>
					</div>
					<div style="flex:1">
						<span data-bind="text:title,click:click" style="overflow: hidden;white-space: nowrap;"></span>
					</div>
				</div>
				<!-- ko if:$data.elems -->
					<div data-bind="visible: expanded()">
					<!-- ko template:{
						name:'rearrangeable-recursive-area',
						data:{moves:$parent.moves,accepts:$parent.accepts,draggroup:$parent.draggroup,elems:elems}} -->
					<!-- /ko -->
					</div>
				<!-- /ko -->
			</div>
		</div>
	</script>
	<script type="text/html" id="recursive-area">
		<div style="margin-left:20px;margin-bottom:5px;" data-bind="foreach:elems">
			<div>
				<div class="recursiveelement" style="display: flex">
					<div class="recursiveexpander" data-bind="if:$data.elems" style="flex-shrink:0;">
						<i data-bind="class:expanded()?'material-icons rotate-90':'material-icons',click:function(){expanded(!expanded())}">play_arrow</i>
					</div>
					<div style="flex:1">
						<span data-bind="text:title,click:click" style="overflow: hidden;white-space: nowrap;"></span>
					</div>
				</div>
				<!-- ko if:$data.elems -->
					<div data-bind="visible: expanded()">
					<!-- ko template:{
						name: 'recursive-area',
						data:{elems:elems}} -->
					<!-- /ko -->
					</div>
				<!-- /ko -->
			</div>
		</div>
	</script>
	<script type="text/javascript">
	var recursivedragulagroups=0;
	function RecursiveArea(props){
		var self = this;
		props = Object.assign({elems:null,id:"",rearrangeable:true,draggroup:null},props);
		if (props.draggroup == null) {self.draggroup = 'RecursiveGroup'+recursivedragulagroups++;}
		else                         {self.draggroup = props.draggroup;}
		self.rearrangeable = props.rearrangeable;
		self.template = self.rearrangeable?"rearrangeable-recursive-area":"recursive-area";
		self.elems = props.elems
		self.moves = function (el, source, handle,sibling) {
			while(handle!=null && !handle.classList.contains('recursiveunit')) {handle = handle.parentElement;}
			return handle === el;
		};
		self.accepts = function (el, dest, source,sibling) {
			while(dest != null) {dest = dest.parentElement;if (dest==el){return false;}}
			return true;
		};
		self.vresize = function() {}
		self.onLoad = function(a) {
			if (self.rearrangeable) {
				window.knockoutDragula.options(self.draggroup);
			}
		}
	}
	</script>
{% endmacro %}




{% macro importHtmlArea() %}
	<script type="text/html" id="html-area">
		<div data-bind="html:html,attr:{id:id}">
		</div>
	</script>
	<script type="text/javascript">
	function HtmlArea(props){
		var self = this;
		props = Object.assign({html:null,id:""},props);
		self.template = "html-area";
		self.id=props.id;
		self.html = props.html;
		self.vresize = function() {}
		self.onLoad = function() {}
	}
	</script>
{% endmacro %}



<!-- 
<script type="text/html" id="stave-area">
	<div class="staves">
	</div>
</script>
<script>
function StaveArea(props){
	var self = this;
	props = Object.assign({text:null},props);
	// editor.session.setMode("ace/mode/javascript");
	self.template="text-area";
	self.text = props.text
	self.editor = null;
	self.vresize = function() {
		if (self.editor != null) {self.editor.resize();}
	}
	self.onLoad = function(a) {
		self.editor = ace.edit(a[1]);
	}
}
</script>


 -->


















<!-- 
<script>





justice = new ViewModel();

function ViewModel() {
	var self = this;
	self.node = new Divider({
		type:"fixed-right",
		resizeable:true,
		// first:new Tabs(),
		first:new Divider({
			type:"fixed-bottom",
			resizeable:true,
			first:new Tabs({tabs:ko.observableArray(["sok","eidj","eosfj","dijfd"])}),
			second:new TextArea()
		}),
		second:new TextArea()
	});
}

ko.applyBindings(justice);

</script>
 -->



