


{% extends "template.html" %}
{% set active_page = "editor" %}
{% import "components.html" as components %}

{% block body %}
{{components.importscripts()}}
{{components.importDivider()}}
{{components.importTabs()}}
{{components.importTextArea()}}
{{components.importHtmlArea()}}
{{components.importErrMsgArea()}}
{{components.importRecursiveArea()}}

<div data-bind="template:{name:node().template,data:node(),afterRender:node().onLoad}" style="height:100%"></div>

<!-- add leading, following for batching changes, eliminate whitespace right off the bat. list of ignored changes -->

<script type='text/html' id='right-pane'>
  Connected Users:
  <div data-bind="foreach:$root.activeusers">
    <div data-bind="style:{color:color},text:name"></div>
  </div>
  Editor:
  <select data-bind="options:$root.availableeditors,optionsText: 'name',optionsValue: 'func',"></select>
  <button type="button" data-bind="click:$root.commit">Commit</button>
</script>

<script type='text/html' id='add-split-tab'>
  <div style="position:relative;height:100%;width:100%;">
    <div style="position:relative;height:100%;width:100%;overflow:scroll;">
      <div data-bind="template:{name:'tabs-area',data:$data,afterRender:onLoad}"></div>
    </div>
    <div style="position:absolute;top:0;right:5px;bottom:0;width:2em;background-color:black;">
      <i class="material-icons littleplus" data-bind="click:$root.extradd,clickBubble:false">add</i>
    </div>
  </div>
</script>



<script>

function shuffle(a) {
  var j, x, i;
  for (i = a.length - 1; i > 0; i--) {
    j = Math.floor(Math.random() * (i + 1));
    x = a[i];
    a[i] = a[j];
    a[j] = x;
  }
  return a;
}
var COLORS = shuffle([
  '#e21400', '#91580f', '#f8a700', '#f78b00',
  '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
  '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
]);
var colori = 0;




var justice;







// EDITOR
// selected file ->
//   select each tab


// DUAL EDITOR
// selected file1 ->
// selected file2 ->





function GenericUI(files,prototype) {
  var self = this;
  self.editor = ko.observable(null);
  self.node = ko.computed(function(){
    if (self.editor()==null){
      return new ErrMsgArea({code:"loading"});
    }
    return self.editor().node;
  });
  var eachfileconnected = [];
  files.forEach(function(item,index){
    eachfileconnected.push(null);
    item.format(prototype.formats[index],self,function(sync){
      eachfileconnected[index]=sync;
      if (eachfileconnected.every(a=>a!=null)) {
        self.editor(new (prototype)(eachfileconnected));
        // self.node = self.editor.node;
      }
    },function(data){
      if (data.status==413) {
        self.editor({node:new ErrMsgArea({code:"toolarge"})});
      } else {
        self.editor({node:new ErrMsgArea({code:"unknown"})});
      }
    });
  });
  self.suspend = function() {
    if (self.editor() == null) {return;}
    if (self.editor().suspend!=null) {self.editor().suspend();}
  }
  self.wake = function() {
    if (self.editor() == null) {return;}
    if (self.editor().wake!=null) {self.editor().wake();}
  }
  self.destroy = function() {
    //deal with race condition...
    files.forEach(function(item){
      item.uiDestroyed(self);
    });
  }
}



function TextEditor(files) {
  var self  = this;
  self.mosync = files[0];
  self.node = new TextArea({sync:self.mosync});
}
TextEditor.formats = [RawTextDataFormat];



// function AnimationEditor() {
//   var self = this;
//   self.name = "Animation Editor";
//   self.node = new TextArea();

// }
// function MusicEditor() {
//   var self = this;
//   self.name = "Music Editor";
//   self.node = new TextArea();

// }




function RawTextDataFormat(data) {
  return SyncObservable.fromObservable({str:false},ko.observable(data));
}

//last pane interacted with...
//always add tab to rightmost/ select on rightmost...


function RightPane() {
  var self = this;
  self.template = "right-pane";
  self.vresize = function() {}
  self.onLoad = function() {}
}
function AddSplitTab(props) {
  var self = this;
  Tabs.bind(self)(props)
  self.template = "add-split-tab";
  self.downgrade = function(){
    self.template = "tabs-area";
  }
}
function Pane() {
  var self = this;
  self.tabs = ko.observableArray([]);
  self.tabs.ownerpane = self;
  self.selected = ko.observable();
  self.ui = ko.observable(null);

  self.blank = new ErrMsgArea({});
  // self.toomanyfile = new ErrMsgArea({code:"toomanyfiles"});


  self.select = function(item) {
    var ui = item.getUI(self);
    if (self.ui()!=ui) {
      if (self.ui()!=null) {self.ui().suspend();}
      self.ui(ui);
      self.ui().wake();
    }
    self.selected(item);
  }
  self.onRemove = function(item) {
    var ui = item.getUI(self);
    if (self.ui()==ui) {
      self.ui().suspend();
      self.ui(null);
    }
    item.removePane(self);
    self.tabs.remove(item);
  }
  self.afterDrop = function(item,_,SI,ti,TI) {
    if (SI == TI) {return;}
    var ui = item.getUI(SI.ownerpane);
    if (SI.ownerpane.ui()==ui) {
      SI.ownerpane.ui().suspend();
      SI.ownerpane.ui(null);
    }
    item.transferPanes(SI.ownerpane,TI.ownerpane);
    if (TI.ownerpane.ui()!=null) {TI.ownerpane.ui().suspend();}
    TI.ownerpane.selected(item);
    TI.ownerpane.ui(ui);
    TI.ownerpane.ui().wake();
    for (var i=TI().length;i>=0;i--) {
      if (i!=ti) {TI.splice(i,1);}
    }
  }
  self.closeEverything = function() {
    self.tabs.forEach(function(item){self.onRemove(item);})
  }
  Divider.bind(self)({
    type:"fixed-top",
    initialmeasure:"2em",
    resizeable:false,
    first:ko.observable(new AddSplitTab({draggroup:"GEditorTabs",tabs:self.tabs,closeable:true,rearrangeable:true,selected:self.selected,afterDrop:self.afterDrop,onClick:self.select,onRemove:self.onRemove})),
    second:ko.computed(function(){
      if (self.ui()==null) {return self.blank;}
      return self.ui().node();
    })
  });
}

function Directory(data){
  var self = this;
  self.type = 'tree';
  self.title = data.title;
  self.path = data.path;
  self.elems = ko.observableArray([]);
  self.expanded = ko.observable(false);
  self.radd = function(ra) {
    ra.title = ra.title.substr(ra.title.indexOf('/')+1);
    if (ra.title.indexOf('/') == -1) {
      if (ra.type == 'blob') {
        self.elems.push(new File(ra));
      } else if (ra.type == 'tree') {
        self.elems.push(new Directory(ra));
      }
    } else {
      self.elems()[self.elems().length-1].radd(ra);
    }
  }
  self.open = function(){}
}
function File(data) {
  var self = this;
  self.type = 'blob';
  self.title = data.title;
  self.path = data.path;
  self.sha = data.sha;
  self.connectedusers = ko.observableArray([]);

  self.defaultEditor = TextEditor;
  self.defaultOtherFiles = [];

  self.lasthashes = [];
  self.lastchanges = [];

  self.md5buffer      = null
  self.listeners      = []//[([ui],synchronizer)]<--- synchronizer.dataformat
  self.connectedpanes = []//[(pane,ui)]

  self.editlistener = null

  //from pane:
  self.transferPanes = function(pane1,pane2) {//transfer pane->ui
    self.removePane(pane2);
    self.connectedpanes.forEach(function(item) {
      if (item.pane == pane1) {
        item.pane = pane2;
      }
    });
    //any uis connected to pane1 are now connected to pane2.
    //any uis already connected to pane2 should be closed.
  }
  self.getUI = function(pane) {//get pane->ui
    var found = null;
    self.connectedpanes.forEach(function(item) {
      if (item.pane == pane) {
        found = item.ui;
      }
    });
    return found;
  }
  self.personalUiChanged = function(pane,newui) {//add to pane->ui
    var found = false;
    self.connectedpanes.forEach(function(item) {
      if (item.pane == pane) {
        found = true;
        item.ui.destroy();
        item.ui = newui;
      }
    });
    if (!found) {
      self.connectedpanes.push({pane:pane,ui:newui});
    }
  }
  self.removePane = function(pane) {//remove from pane->ui
    var foundind = -1;
    self.connectedpanes.forEach(function(item,index) {
      if (item.pane == pane) {
        item.ui.destroy();
        foundind = index;
      }
    });
    if (foundind != -1) {self.connectedpanes.splice(foundind,1);}
  }


  //from UI
  self.uiDestroyed = function(ui) {
    for (var i=self.listeners.length-1;i>=0;i--) {
      var index = self.listeners[i].uis.indexOf(ui);
      if (index > -1) {
        self.listeners[i].uis.splice(index, 1);
        if (self.listeners[i].uis.length==0) {
          self.listeners[i].sync.disconnect();
          self.listeners.splice(i,1);
          if (self.listeners.length==0) {
            self.md5buffer = null;
            socket.off('edit',self.editlistener);
          }
        }
      }
    }
    //might need to call sync.disableUI
    //then you might just throw away your synchronizer.
  }
  self.format = function(format,ui,callback,failurecallback) {
    //format current data in accordance with given format. called anytime relevant UIs wake.
    var found = null;
    self.listeners.forEach(function(item) {
      if (item.sync.dataformat == format) {
        found = item.sync;
        if (!item.uis.includes(ui)){
          item.uis.push(ui);
        }
      }
    });
    if (found!=null) {callback(found);return;}
    function makeSync() {
      var synchronizer = format(self.md5buffer);
      synchronizer.dataformat = format;
      synchronizer.endpointUp = function(changedInterval) {
        //send data to the other psuedoclients here.

        self.listeners.forEach(function(item){
          if (item.sync!=synchronizer) {
            item.sync.endpointDown(changedInterval);
          }
        })
        //send data to the server here.
        socket.emit('edit', {
          delta:{start:changedInterval.start,amt:changedInterval.length,msg:changedInterval.data},
          path:self.path,
          sessionId:justice.sessionId,
          md5:md5(self.md5buffer)
        });
        self.md5buffer = self.md5buffer.slice(0,changedInterval.start)+changedInterval.data+self.md5buffer.slice(changedInterval.start+changedInterval.length);
      }
      self.listeners.push({uis:[ui],sync:synchronizer});
      callback(synchronizer);
    }
    if (self.listeners.length==0) {
      $.ajax("/files", {
        type: "POST",
        data: ko.toJSON({
          sessionId:justice.sessionId,
          path:self.path
        }),
        contentType: "application/json",
        success: function(data){
          self.md5buffer = data;
          self.editlistener = socket.on('edit',function(data){
            console.log("edit happen",data);
            var changedInterval = new ChangeInterval(data.delta.start,data.delta.amt,data.delta.msg);
            self.listeners.forEach(function(item){
              item.sync.endpointDown(data.delta);
            })
          });
          makeSync();
        },
        error: failurecallback
      });
    } else {
      makeSync();
    }
  }
  // self.close = function() {//tab closed; unload all related data.
  //   if (self.ui!=null) {self.ui.suspend();}
  //   self.synchronizer = null;
  //   self.lastdataformat = null;
  //   self.ui = null;
  // }
  // self.active = function(ui) {
  //   if (self.ui == null) {self.ui = new TextEditor(self);}
  //   if (ui()!=self.ui) {
  //     if (ui()!=null) {ui().suspend();}
  //     self.ui.wake(ui);
  //   }
  // }
  self.open = function(){
    var pane = justice.getFrontPane();
    if (!pane.tabs().includes(self)) {
      pane.tabs.push(self);
      self.personalUiChanged(pane,new GenericUI([self].concat(self.defaultOtherFiles),self.defaultEditor));
    }
    pane.select(self);
  }
}
function User(data) {
  self.name = data;
  self.color = COLORS[colori];
  colori = (colori+1)%12;
}
function AppViewModel(servedata) {
  var self =  this;
  self.elems = ko.observableArray([]);
  // self.tabs  = ko.observableArray([]);


  self.activeusers = ko.observableArray(servedata['activemembers'].split(",").map(function(item){return new User(item);}));
  self.sessionId = servedata.sessionId


  socket.on('player_join', function(data){self.activeusers.push(data.name);});
  socket.on('player_leave',function(data){self.activeusers.remove(data.name);});
  socket.on('rejected',function(data){console.log("REJECTED",data);});


  // self.ui = ko.observable(null);
  // self.selected = ko.observable(null);

  self.availableeditors = ko.observableArray([{name:"Text Editor",func:TextEditor}]);//,{name:"Double Text Editor",func:DualTextEditor}
  self.reqeditor = ko.observable(self.availableeditors()[0]);
  // self.reqeditor.subscribe(function(neditor){
  //   if (self.selected()!=null) {self.selected().form();}
  // });


  self.node = ko.observable(new ErrMsgArea({code:"loading"}));
  self.getFrontPane = function() {
    if (self.node().second().first().first().template == "resizeable-area") {
      return self.node().second().first().second();
    } else {
      return self.node().second().first();
    }
  }
  self.paneCount = function() {
    return self.countPanes(self.node().second().first());
  }
  self.countPanes = function(eds) {
    if (eds.first().template == "resizeable-area") {
      return 1 + self.countPanes(eds.first())
    } else {
      return 1
    }
  }
  self.extradd = function() {
    var allprevs = self.node().second().first();
    var newfirst = new Pane();
    var newcombination = new Divider({
      type:"fixed-right",
      resizeable:true,
      first:ko.observable(allprevs),
      second:ko.observable(newfirst),
      slidesout:true,
      parent:function(cheat){
        var mast;
        if (cheat.first().template=='resizeable-area') {mast = cheat.second().first();}
        else {mast = cheat.first();}
        mast.template = "add-split-tab";
        mast.downgrade = function(){mast.template = "tabs-area";}
        self.node().second().first(cheat);
      }
    });
    if (allprevs.first().template=='add-split-tab') {allprevs.first().downgrade();}
    else {allprevs.second().first().downgrade();}
    allprevs.reparent(newcombination.first);
    self.node().second().first(newcombination)
  }
  self.commit = function() {
    $.ajax("/commit", {
      type: "POST",
      contentType: "application/json",
      data: ko.toJSON({
        sessionId:self.sessionId,
        commit_message:"This is a temporary test."
      }),
      success: function(data){
        console.log("RESPONSE",data);
      }
    });
  }
  $.ajax("/directories", {
    type: "POST",
    contentType: "application/json",
    data: ko.toJSON({
      sessionId:self.sessionId
    }),
    success: function(data){
      self.node(new Divider({
        type:"fixed-left",
        resizeable:true,
        first:ko.observable(new RecursiveArea({elems:self.elems,onClick:function(item){item.open();}})),
        second:ko.observable(new Divider({
          type:"fixed-right",
          resizeable:true,
          first:ko.observable(new Pane()),
          second:ko.observable(new RightPane())
        }))
      }));
      data.tree.forEach(function(ra){
        ra.title = ra.path;
        if (ra.title.indexOf('/') == -1) {
          if (ra.type == 'blob') {
            self.elems.push(new File(ra));
          } else if (ra.type == 'tree') {
            self.elems.push(new Directory(ra));
          }
        } else {
          self.elems()[self.elems().length-1].radd(ra);
        }
      });
    },
    error: function(data) {
      if (data.status == 413){
        self.node(new ErrMsgArea({code:"toomanyfiles"}));
      } else if (data.status == 403) {
        self.node(new ErrMsgArea({code:"unauthorized"}));
      } else {
        self.node(new ErrMsgArea({code:"unknown"}));
      }
    }
  });
  {% if creds != None %}
  self.newprojectmodel = new NewProjectModel();
  {% endif %}
}



handshake(function(servedata){
  justice = new AppViewModel(servedata);
  ko.applyBindings(justice);
});







</script>

{% endblock %}
{% block footer %}
{% endblock %}




