

	{%extends "template.html"%}
	{% set active_page = "index" %}
	{% block body %}
	<!-- <div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">Synergi</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class=""><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="/editor" accesskey="2" title="">Editor</a></li>
					<li><a href="/projectlist" accesskey="3" title="">Browse</a></li>
					<li><a href="/template" accesskey="4" title="">Template</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div> -->

<div id="wrapper">
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>Etiam rhoncus volutpat</h2>
				<span class="byline">Proin gravida porttitor accumsan</span> </div>
			<ul class="actions">
				<li><a href="#" class="button">Etiam posuere</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Praesent scelerisquet</h2>
			<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis.</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus.</p>
				</div>
			</div>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
		</ul>
	</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Fusce ultrices fringilla metus</h2>
				<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> </div>
			<p>This is <strong>PlainDisplay</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
		</ul>
	</div>
	<div id="page" class="container">
		<div class="title">
			<h2>About Us</h2>
			<span class="byline">The Mission of Synergi</span> </div>
		<p> We are a group of undergraduate students at Purdue who are studying Computer Science. Our belief is that programming will forever be a collaborative endeavor. We seek to connect the world of code through Synergi.</p>
		
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
	{% endblock %}

