	{% extends "template.html" %}
	{% set active_page = "index" %}
	{% block body %}

<div id="wrapper">
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>Welcome to Synergi Code</h2>
				<span class="byline">The best collaborative code editor</span> </div>
			<ul class="actions">
				<li><a href="#extra" class="button">Get Started</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Real time collaborative coding without the hassle</h2>
			<span class="byline">It takes only 3 steps to begin using Synergi</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div style="display: flex; justify-content: center;margin-bottom: 25px;margin-right:37.5px; "> 
				<img style = "width:85px; height:85px;margin:auto;" src="/static/github_PNG20.png" alt="Logo"/>
				</div>
					<p>Using your GitHub Login, sign in to sync your account with Synergi. </p>
			</div>
			<div class="boxB">
				<div style="display: flex; justify-content: center;margin-bottom: 25px; "> 
				<img style = "width:120px; height:85px;margin:auto;" src="/static/gear-logo-600px.png" alt="Logo"/>
				</div>
				<p style="margin-bottom: 5px; text-align: center;">Authorize site permissions and user agreement with Github.</p>

			</div>
			<div class="boxC style=">
				<div style="display: flex; justify-content: center;margin-bottom: 25px;margin-right:37.5px;">
					<img style = "width:85px; height:85px;border:0;margin:auto;" src="/static/Synergi-white.png" alt="Logo"/>
				</div>
				<p style =""> Invite your friends and start coding and creating projects seamlessly with your collaborators.</p>
			</div>
		</div>
		<ul class="actions">
			<li><a href="/gitlogin" class="button">Log in</a></li>
		</ul>
	</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>About Us</h2>
				<span class="byline">The Mission of Synergi</span> </div>
			<p>We are a group of undergraduate students at Purdue who are studying Computer Science. Our belief is that programming will forever be a collaborative endeavor. We seek to connect the world of code through Synergi. </p>
		</div>
	</div>
	
</div>

	{% endblock %}

