

{% macro importNewProject() %}
	<!-- <style type="text/css">

	</style> -->
	<script type="text/html" id="create-new-project">
		Name of Project: <input class="input_" type="text" data-bind="value:projname"><br>
		Description: <input class="input_" type="text" data-bind="value:description"><br>
		<span class="custom-dropdown">
		Repo: <select name="repo" data-bind="options: github_repos(),optionsText:'name',value:activerepo"></select>
		</span>
		<span class="custom-dropdown">
			Branch: <select name="branch" data-bind="options: branches(),value:activebranch"></select>
		</span>
	</script>
	<!-- ko with:newprojectmodel -->
	<div data-bind="modal: {
		visible: modalVisible,
		header: { data: { label: 'Import github repo' } },
		body: { name: 'create-new-project', data: $data },
		footer: { data: { action: click, closeLabel:'Cancel',primaryLabel:'Create project'}}
	}"></div>
	<!-- /ko -->
	<script type="text/javascript">
		function NewProjectModel() {
			var self =	this;
			self.modalVisible = ko.observable(false);
			self.github_repos = ko.observableArray([]);
			self.activerepo = ko.observable(null);
			self.projname = ko.observable("");
			self.description = ko.observable("");
			self.activebranch = ko.observable(null);
			self.branches = ko.computed(function(){
				if (self.activerepo()==null) {return [];}
				return self.activerepo().branches;
			});
			$.ajax("/github_repos", {
				type: "GET",
				success: function(data){
					self.github_repos(data['payload'])
				}
			});
			self.click = function() {
				var data = {
						name:self.projname(),
						description:self.description(),
						branch:self.activebranch(),
						repo:self.activerepo().name,
						owner:self.activerepo().owner
					}
				console.log(data);
				$.ajax("/projects", {
					type: "POST",
					contentType: "application/json",
					data: ko.toJSON(data),
					success: function(data){
						window.location.href = '/editor?projectId='+data['projectId'];
					}
				});
			};
			self.spawn = function() {
				console.log("ausdhifasdfhuoa");
				self.modalVisible(true);
			}
		}
	</script>
{% endmacro %}










