
{% extends "template.html"%}
{% set active_page = "projectlist" %}
{% block body %}


<div id="extra" class="container" data-bind="foreach:results">
	<div style="width: 80%;background-color:grey;">
		Name:<div data-bind="text:name"></div>
		Description:<div data-bind="text:description"></div>
		repo:<div data-bind="text:repo"></div>
		branch:<div data-bind="text:branch"></div>
		<a data-bind="href='/editor?projectId='+id">edit</a>
	</div>
</div>

<div id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Import Repo</h2>
		</div>
		<div class="modal-body">
			<form action = "/projects" method = "POST">

				<input type="hidden" name="owner" data-bind="owner">
				Project Name: <input type="text" name="name"><br>
				Description: <input type="text" name="description"><br>
				Repo: <select name="repo" data-bind="options: repochoices()"></select>
				Branch: <select name="branch" data-bind="options: branches()"></select>

				<input type="submit" value="Import Project">
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>


<script>





var modal = document.getElementById("myModal");
var span = document.getElementsByClassName("close")[0].onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}




modal.style.display = "block";








var justice = new AppViewModel();


function AppViewModel() {
	var self =	this;
	self.repos    = ko.observableArray([]);
	self.activerepo = ko.observable(null);
	self.repochoices = ko.computed(function(){
		return self.repos().map(function(item){return item.name})
	})
	self.branches = ko.computed(function(){
		var ind = self.repochoices().indexOf(self.activerepo())
		if (ind == -1) {return []}
		return self.repos()[ind].branches
	})
	self.owner = ko.computed(function(){
		var ind = self.repochoices().indexOf(self.activerepo)
		if (ind == -1) {return null}
		return self.repos()[ind].owner
	});


	self.results  = ko.observableArray([]);


	
	$.ajax("/repos", {
		type: "GET",
		success: function(data){
			self.results(data['res']);
			self.repos(data['openrepos'])
		}
	});



}



ko.applyBindings(justice);

</script>



{% endblock %}


