
{% extends "template.html"%}
{% set active_page = "projectlist" %}
{% block body %}
<style>
	.project {
		background: #EEE;
		margin-top: 40px;
		margin-left: 20%;
		margin-right:20%;
		border-radius: 8px;
	}
	.project ul{

	}
	.project ul li{
		display: inline-block;
		padding: 10px;
		/*border-color: red;border-style: solid;border-width: 2px;*/

	}
	.edit{
		float:right;
	}
	.edit a{
		font-size: 1.5em;
		box-shadow: none !important;
		transition: none;
		text-decoration: none;
		color: inherit;
		line-height: 1.8em;

	}
	.name {
		font-size: 2em;
	}

	.expander{
		float:left;
	}
	.dropdown {
	  position: relative;
	  display: inline-block;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  padding: 12px 16px;
	  z-index: 1;
	}

	.border {
		border-width: 2px;
		border-style: solid;
		border-color: red;
	}

	.flex-v {
		display: flex;
		flex-direction: column;
	}
	.flex-h {
		display: flex;
		flex-direction: row;
	}
	.content-left {
		width:50%;
	}
	.content-right {
		width:50%;
	}
	.value {
		margin: 0 2% 10% 5%;

	}
</style>


<div id="extra" class="container" data-bind="foreach:synergi_repos">
	<div class = "project wrap-collabsible">
		<input data-bind="attr:{id:$index()}" class="toggle" type="checkbox">
		<label data-bind="attr:{for:$index()},text:name" class="lbl-toggle">[Name]</label>
		<div class="collapsible-content">
			<ul>
				<li class = "name" data-bind="text:name">Name</li>
				<li class="edit"><a data-bind="attr:{href:'/editor?projectId='+id}">Edit</a></li>
				<li class="delete edit"><a data-bind = "click: $root.del">Delete</a></li>
			</ul>
			<ul class ="flex-h content-inner">
				<div class = "flex-v content-left">
					<div class = "flex-h">
						<div class = "">Repository:&nbsp; </div>
						<div class="value" data-bind="text:repo">[repo]</div>
					</div>
					<div class = "flex-h">
						<div class = "">Branch:&nbsp; </div>
						<div class="value" data-bind="text:branch">[branch]</div>
					</div>
				</div>
				<div class = "flex-v content-right">
					<li class = ""><div>Description:  </div></li>
					<li class = ""><div data-bind="text:description"></div></li>
				</div>				
			</ul>
		</div>	
	</div>
</div>


<script>

var justice = new AppViewModel();

function AppViewModel() {
	var self =	this;
	self.synergi_repos = ko.observableArray([]);
	$.ajax("/synergi_repos", {
		type: "GET",
		success: function(data){
			self.synergi_repos(data['payload'])
		}
	});
	self.del = function(dat) {
		$.ajax("/deleteObject", {
			type: "POST",
			data: ko.toJSON({
				projectid:dat.id
			}),
			contentType: "application/json",
			success: function(data){
				self.synergi_repos.remove(dat);
			}
		});
	}
	{% if creds != None %}
	self.newprojectmodel = new NewProjectModel();
	{% endif %}
}

ko.applyBindings(justice);

</script>


{% endblock %}