<html>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<body>
		<p>First name: <strong data-bind="text: firstName"></strong></p>
		<p>Last name: <strong data-bind="text: lastName"></strong></p>
		<p>First name: <input data-bind="value: firstName"></input></p>
		<p>Last name: <input data-bind="value: lastName"></input></p>
		<p>Full name: <strong data-bind="text: fullName"></strong></p>
		<button data-bind="click:setnametobull">click me</button>
		<button data-bind="click: capitalizeLastName">Capitalizse</button>
		<br><br>
		<h1>To-Do List</h1>
		<div>
			<form data-bind="submit: addTask">
			<input data-bind="value: newTaskText"/>
				<button type = "submit">Add</button>
			</form>
			<ul data-bind="foreach: tasks, visible : tasks().length > 0">
				<!-- <li data-bind="text: title"></li> -->
				<input data-bind="value: title, disable: isDone" />
				<button data-bind="click: $parent.removeTask">Delete</button><br>
			</ul>
		</div>

		<script>
			var socket = io();
	
			function Task(data){
				var self = this;
				self.title = ko.observable(data.title);
				self.isDone= ko.observable(data.isDone);
				self.toJSON= function(){
					return {"title": self.title(), "isDone": self.isDone()}
				}
			}


			function AppViewModel() {
				var self =	this;
				self.firstName = ko.observable("Bert");
				self.lastName = ko.observable("Bertington");
				self.fullName = ko.computed( function(){
					return self.firstName() + " " + self.lastName();
				});
				self.setnametobull = function() {
					self.firstName("bull");
				};
				self.capitalizeLastName = function() {
					var currentVal =	self.lastName();
					self.lastName(currentVal.toUpperCase());
				};
				//tutorial code ^^ 
				//real code VV
				self.newTaskText = ko.observable();
				self.tasks = ko.observableArray([]);
				self.addTask = function(){
					var newTask = new Task({title: self.newTaskText()});
					self.tasks.push(newTask);
					self.newTaskText("");
					$.ajax("/elements", {
						data: ko.toJSON(newTask.toJSON()),
						type: "POST",
						contentType: "application/json",
						success: function(result){console.log(result)}
					});
				}

				self.removeTask = function(task){ 
					$.ajax("/elements", {})
				}
				$.ajax("/elements", {
					type: "GET", 
					success: function(result){
						self.tasks(result.payload.map(function(item){
							return new Task(item);
						}));
						console.log(result)
					}
				});


			}

			socket.on('connect', function() {
				ko.applyBindings(new AppViewModel());
				// socket.emit('my event', {data: 'I\'m connected!'});
			});
			

		</script>
	</body>


</html>


